@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarLogo {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-left: -75px;
    width: 100px;
    height: 100px;
}

body {
    height: 100vh;
    width: fit-content;
    color: azure;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background: rgb(8, 8, 46);
}

.App {
    height: 100vh;
    width: 100vw;
}

.Welcome {
    height: 100vh;
    width: 100vw;
}


.profileAvi {
    width: 70px;
    height: 70px;
    border-radius: 50px;
  }